<table>
  <tr>
    <th>Begin or End?</th>
    <th>Shift</th>
    <th>40mg Lot #</th>
    <th>40mg Unopened Box Count - (6 bottle per box)</th>
    <th>40mg Unopened Bottle Count - (100 Tablets per bottle)</th>
    <th>Current Open Bottle - 40mg Tablet Count - (Tablets left in open bottle)</th>
    <th>Total 40mg to date</th>
    <th></th>
    <th>5mg Lot #</th>
    <th>5mg Unopened Bottle Count - (100 Tablets per bottle)</th>
    <th>Current Open Bottle - 5mg Tablet Count - (Tablets left in open bottle)</th>
    <th>Total 5mg to date</th>
    <th></th>
    <th>Total Tablets To Date (40mg Tablets + 5mg Tablets)</th>
  </tr>
  
  <%= simple_form_for(@inventory_check) do |f| %>
    <% if @inventory_check.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@inventory_check.errors.count, "error") %> prohibited this inventory_check from being saved:</h2>

        <ul>
        <% @inventory_check.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div id="inventory_check_inputs">
      <tr>
        <td><%= f.input :user_id %></td>
        <td><%= f.input :beginning_or_end %></td>
        <td><%= f.input :shift %></td>
        <td><%= f.input :forty_mg_lot_number %></td>
        <td><%= f.input :forty_mg_box_inventory %></td>
        <td><%= f.input :forty_mg_bottle_inventory %></td>
        <td><%= f.input :forty_mg_open_bottle_inventory %></td>
        <td><%= f.input :forty_mg_tablet_count %></td>
        <td><%= f.input :forty_mg_total_inventory %></td>
        <td><%= f.input :five_mg_lot_number %></td>
        <td><%= f.input :five_mg_box_inventory %></td>
        <td><%= f.input :five_mg_bottle_inventory %></td>
        <td><%= f.input :five_mg_open_bottle_inventory %></td>
        <td><%= f.input :five_mg_tablet_count %></td>
        <td><%= f.input :five_mg_total_inventory %></td>
      </tr>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</table>
